<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    
    <title>Tokofolio</title>
</head>
<body>  
<div class="marquee">
  <ul class = "marquee-content">
    <%for (let symbol in items){%>
      <li><%=symbol%>: <%= Math.round(items[symbol].quote.USD.price*1000)/1000%></li>
    <%}%>
  </ul>
  
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-baseline">
      <li class="nav-item active">
        <a class="nav-link" href="/"><img src="/./../tokofolio_logo1.svg" alt width='72' height='72'> <span class="sr-only"></span></a>
      </li>
      <%if(loginStatus){%>
        <li class="nav-item">
          <a class="nav-link" href="/../users/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/../users/dashboard">My Tokofolio</a>
        </li>
        
      <%}else{%>
        <li class="nav-item">
          <a class="nav-link" href="/../users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/../users/register">Register</a>
        </li>
        
      <%}%>
    </ul>
  </div>
</nav>
<script>
  const marqueeContent = document.querySelector("ul.marquee-content");


  const root = document.documentElement;
  const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");


  root.style.setProperty("--marquee-elements", marqueeContent.children.length);

  for(let i=0; i<marqueeElementsDisplayed; i++) {
    marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
  }
</script>